<div class="row-fluid">
    <div class="span4 offset4 well">
        <select ng-model="modelSelection" ng-options="key as value for (key,value) in model"></select>
    </div>
</div>
<div class="row-fluid" ng-switch on="modelSelection">
    <div class="span3 offset1 well" ng-show="modelSelection=='foo'">
        {{model.foo}}
    </div>
    <div class="span3 offset2 well" ng-show="modelSelection=='bar'">
        {{model.bar}}
    </div>
    <div class="span3 offset3 well" ng-show="modelSelection=='baz'">
        {{model.baz}}
    </div>
</div>
<div class="row-fluid" ng-switch on="modelSelection">
    <div class="span3 offset1 well" ng-switch-when="foo">
        {{model.foo}}
    </div>
    <div class="span3 offset2 well" ng-switch-when="bar">
        {{model.bar}}
    </div>
    <div class="span3 offset3 well" ng-switch-when="baz">
        {{model.baz}}
    </div>
</div>